<div class="card-columns mt-4" *ngIf="this.dataCollection && this.dataCollection.items">
    <div *ngFor="let item of this.dataCollection.items" class="card" (click)="showArtist(item)">
      <img class="card-img-top" [src]="item.images | firstUrlOfImages:'assets/img/noimage.png'" alt="Imagen de {{item.name}}">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <div class="card-text" *ngIf="item.artists">
          <span *ngFor="let artista of item.artists" class="badge badge-primary">{{artista.name}}</span>
        </div>
      </div>
    </div>
  </div>